@media only screen and (min-width:200px) and (max-width:912px){
    body{
        overflow-x: hidden;
    }
    /* header */
    header{
        position: fixed;
    }
    .hamburger{
        position: relative;
        height: 40px;
        background-color: black;
        padding: 0 10px;
        width: 50px;
        display: block;
        cursor: pointer;
        bottom: 60px;
        right: 20px;
        
    }
    .hamburger .line{
        position: relative;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        top: 5px;
    }
    .nav .active{
        height: 300px;
    }
    .nav{
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        transition: 0.2s;
        
        z-index: 2;
    }
    .nav ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav .active ul{
        position: relative;
        
        opacity: 1;
    }
    .nav a{
        position: relative;
        right: 20px;
        line-height: 2;
        color: black;
    }
    /* home start */
    .HOME-CONTAINER{
        margin-top: 100px;
    }
    .HOME-CONTAINER .home .tit1 h1{
        position: relative;
        margin-top: -100px;
        
        font-size: 40px;
    }
    .HOME-CONTAINER .home .tit3{
        position: relative;
        
        
        font-size: 40px;
    }
    .HOME-CONTAINER .home .tit2{
        position: relative;
        left: 48%;
        bottom: 11.5%;
        font-size: 40px;
    }
    .HOME-CONTAINER .home P{
        position: relative;
        right: 23px;
        bottom: 50px;
        text-align: center;
        font-size: 20px;
    }
    .HOME-CONTAINER .home .btn2{
        position: relative;
        margin-left: 30%;
        bottom: 40px;
        padding: 15px 35px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: #222429;
        color: white;
    }
    .HOME-CONTAINER .home .btn2:hover{
        background-color: black;
    }
    .home-img img{
        padding-top: 50px;
        height: 80%;
        margin-left: -130px;
    }
    /* home end */

    /* about start */
    .ABOUT-CONTAINER{
        padding: 30PX;
    }
    .about-content{
        padding-top: 50px;
    }
    .about-content h1{
        font-size: 30px;
    }
    .about-content h6{
        font-size: 15px;
        color: #ffad56;
    }
    .about-content p{
        font-size: 15px;
    }
    .about-content .btn3{
        position: relative;
        
        padding: 15px 35px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: #ffaa17;
        color: black;
    }
    /* about end */

    /* services start */
    .SERVICES-CONTAINER{
        padding: 20px;
    }
    .services-content1{
        text-align: center;
        
    }
    .services-content1 h1{
        font-size: 30px;
    }

    .services-content2{
        padding: 10px;
        
    }
    .services-content2 .card1{
        padding: 10px;
        width: 80%;
        margin-left: 10%;
        cursor: pointer;
    }
    .services-content2 .card1:hover{
        background-color: #222429;
        color: #676a6f;
        border-radius: 5px;
        transition: 1s;
    }
    .services-content2 .card1 i{
        color: #ffaa17;
    }
    .services-content2 .card1 h1{
        padding-top: 20px;
    }
    .services-content2 .card1 p{
        padding-top: 20px;
    }

    /* services end */

    /* projrct start */
    .project-content1{
        text-align: center;
        padding: 15px;
    }
    .project-content1 h1{
        font-size: 35px;
    }
    .project-content2 p:hover{
        background-color: #222429;
        color: white;
    }
    .project-content3{
        padding: 10px;
    }
    .project-content3 .project-img img{
        border-radius: 5px;
        margin-top: 10px;
    }
    .project-content3 .project-img .icon{
        text-align: center;
        color: #ffaa17;
        position: relative;
        bottom: 220px;
        display: none;
    }
    .project-content3 .project-img:hover img{
        
        border: 10px solid black;
        transform: scale(0.9);
        
    }
    .project-content3 .project-img:hover .icon{
        display: block;
    
    }
    /* project end */

    /* pricing start */
    .PRICING-CONTAINER{
        padding: 30px;
    }
    .pricing-content1{
        text-align: center;
        padding: 15px;
    }
    .pricing-content1 h1{
        font-size: 35px;
    }
    .pricing-content2 .card2{
        margin-top: 15px;
    }
    .pricing-content2 .card3{
        margin-top: 15px;
    }
    /* pricing end */

    /* team start */
    .team-content1{
        text-align: center;
        padding: 15px;
    }
    .team-content1 h1{
        font-size: 35px;
    }
    .swiper-slide {
        padding-top: 100px;
    }
    .swiper-slide h1{
        color: #ffaa17;
        position: absolute;
        top: 220px;
        left: 25%;
        font-size: 12px;
      }
      .swiper-slide p{
        color: #ffaa17;
        position: absolute;
        top: 230px;
        left: 25%;
        font-size: 10px;
      }
    /* team end */

    /* table start */
    .form{
        padding: 10px;
    }
    .form .btn5{
        position: relative;
        
        padding: 15px 35px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: #ffaa17;
        color: black;
    }
    .client-content2{
        padding: 10px;
    }
    .client-content2 .form{
        height: 50%;
        width: 90%;
        position: absolute;
        top: 520rem;
        left: 5%;
        background-color: white;
        border-radius: 20px;
    }
    /* table end */
}