*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
:root{
    --navlinks-font-size: 20px;
    --navlinks-bg-clr: #ffad4f;
    --btn-padding: 15px 35px;
    --btn-bg-clr: #ffad4f;
    --btn-clr: black;
    --h1-font-size: 70px;
    --p-font-size: 15px;

}
html{
    overflow-x: hidden;
}
header{
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid black;
}
.logo{
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 35px;
}
.header-content ul{
    display: flex;
    margin-top: 40px;
}
.header-content li a{
    position: relative;
    margin-left: 50px;
    font-size: 20px;
    color: black;
    list-style: none;
    text-decoration: none;
}
.header-content .active{
    color: #ffad4f;
}
.nav ul{
    display: flex;
    margin-left: 35%;
    margin-top: -20px;
    
}
.nav a{
    font-size: 20px;
    margin-left: 40px;
    font-weight: lighter;
    color: black;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.nav .active{
    color: #ffad4f;
}
header .nav a:hover{
    color: #ffad4f;
} 
.menu{
    display: none;
}


/* home start */

.home{
    background-color: #ffaa17;
    z-index: 1;
}
.HOME-CONTAINER .home .tit1 h1{
    position: relative;
    padding-top: 10rem;
    padding-left: 50px;
    font-size: 90px;
}
.HOME-CONTAINER .home .tit3{
    position: relative;
    padding-left: 50px;
    font-size: 90px;
}
.HOME-CONTAINER .home .tit2{
    position: relative;
    padding-left: 50px;
    font-size: 90px;
}
.HOME-CONTAINER .home P{
    position: relative;
    padding-left: 50px;
    font-size: 20px;
}
.HOME-CONTAINER .home .btn2{
    position: relative;
    margin-left: 50px;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #222429;
    color: white;
}
.HOME-CONTAINER .home .btn2:hover{
    background-color: black;
}
.home-img img{
    padding-left: 65px;
}

/* home end */

/* about start */
.ABOUT-CONTAINER{
    padding: 100PX;
}
.about-content{
    padding-top: 50px;
}
.about-content h1{
    font-size: 65px;
}
.about-content h6{
    font-size: 20px;
    color: #ffad56;
}
.about-content .btn3{
    position: relative;
    
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffaa17;
    color: black;
}
/* about end */

/* services start */
.SERVICES-CONTAINER{
    padding: 50px;
}
.services-content1{
    text-align: center;
    
}
.services-content1 h1{
    font-size: 70px;
}

.services-content2{
    padding: 30px;
    
}
.services-content2 .card1{
    padding: 30px;
    width: 23%;
    margin-left: 20px;
    cursor: pointer;
}
.services-content2 .card1:hover{
    background-color: #222429;
    color: #676a6f;
    border-radius: 5px;
    transition: 1s;
}
.services-content2 .card1 i{
    color: #ffaa17;
}
.services-content2 .card1 h1{
    padding-top: 20px;
}
.services-content2 .card1 p{
    padding-top: 20px;
}
/* services end */

/* project start */
.project-content1{
    text-align: center;
    padding: 15px;
}
.project-content1 h1{
    font-size: 70px;
}
.project-content2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.project-content2 i{
    color: #ffaa17;
}
.project-content2 p{
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
}
.project-content2 .active1{
    background-color: #222429;
    color: white;
}
.project-content2 p:hover{
    background-color: #222429;
    color: white;
}

.project-content3{
    padding: 40px;
    justify-content: center;
    display: flex;
    text-align: center;
}
.project-content3 .project-img img{
    border-radius: 5px;
}
.project-content3 .project-img .icon{
    text-align: center;
    color: #ffaa17;
    position: relative;
    bottom: 250px;
    display: none;
}
.project-content3 .project-img:hover img{
    
    border: 10px solid black;
    transform: scale(0.9);
    
}
.project-content3 .project-img:hover .icon{
    display: block;

}
/* project end */

/* pricing start */
.PRICING-CONTAINER{
    padding: 100px;
}
.pricing-content1{
    text-align: center;
    padding: 15px;
}
.pricing-content1 h1{
    font-size: 70px;
}
.pricing-content2 .card2{
    padding: 50px;
    text-align: center;
}
.pricing-content2 .card2 h3{
    font-size: 45px;
}
.pricing-content2 .card2p{
    color: #746e6f;
}
.rate{
    font-size: 40px;
}
.border{
    background-color: #222429;
    border-radius: 50%;
    color: white;
    padding: 20px 60px;
}
.pricing-content2 .card2pp{
    color: #7c7685;
    line-height: 2;
}
.pricing-content2 .card2 .btn4{
    position: relative;
    
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #222429;
    color: white;
}



.pricing-content2 .card3{
    padding: 50px;
    text-align: center;
    background-color: #222429;
}
.pricing-content2 .card3 h3{
    color: white;
    font-size: 45px;
}
.pricing-content2 .card3p{
    color: #746e6f;
}
.rate{
    font-size: 40px;
}
.border1{
    background-color: #ffaa17;
    border-radius: 50%;
    color: black;
    padding: 20px 60px;
}
.pricing-content2 .card3pp{
    color: #7c7685;
    line-height: 2;
}
.pricing-content2 .card3 .btn4{
    position: relative;
    
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffaa17;
    color: black;
}
/* pricing end */

/* team start */
.TEAM-CONTAINER{
    
    min-height: 36rem;
}
.team-content1{
    text-align: center;
    padding: 15px;
}
.team-content1 h1{
    font-size: 70px;
}
.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.user-img img{
    height: 100%;
    border-radius: 10px;
}
.user-text{
    background-color: #ffaa17;
    width: 450px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 45px;
    z-index: 2;
}
.user-text p{
    color: #b8cde5;
    line-height: 24px;
}
.user-text h3{
    margin: 35px 0 5px;
}
.team-content2{
    width: 800px;
    height: 350px;
    position: absolute;
    top: 295rem;
    left: 50%;
    transform: translate(-50%,-50%);
}
.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.btn6{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #ffaa17;
    cursor: pointer;
    transition: 0.5s;
}
.active2{
    width: 45px;
}
.team-content3{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* team end */


/* table start */
.map{
    height: 30rem;
    width: 100%;
}
.table-content1{
    height: 42rem;
}
.form{
    padding: 30px;
}
.form .btn5{
    position: relative;
    
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffaa17;
    color: black;
}
.client-content2{
    padding: 20px;
}
.client-content2 .form{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 323rem;
    left: 25%;
    background-color: white;
    border-radius: 20px;
}
/* table end */

/* footer start */
.footer-content{
    padding: 50px;
    background-color: #222429;
}
.footer-content1{
    
    
    color: white;
}
.footer-content1 p{
    color: #6b6861;
}
.footer-content1 .icons4 i{
    height: 50px;
    width: 50px;
    background-color: #ffaa17;
    color: #222429;
    position: relative;
    margin-left: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
/* footer end */

.copy{
    background-color: black;
    padding-top: 20px;
}